.Home {
    width: 100%;
    height: 100vh;
}

.Home_box {
    width: 100%;
    height: 90%;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    padding: 20px 5%;
    padding: 0 5%;
}

.Home_left {
    height: 100%;
}