.Left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background: #ffffff;
    border-right: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
}

.Left_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Left_box_item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Left_box_item img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.Left_box_item p {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

/* HOVER EFFECT */
.Left_box_item:hover {
    background: #f5f5f5;
    transform: translateX(3px);
}

.Left_box a {
    text-decoration: none;
    color: #333;
}

.active {
    background: #f5f5f5;
    transform: translateX(3px);
}